*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  background-color: #ACC8A2;
  min-height: 100vh;
}
.main{
  margin-left: 13rem;
}

/* sidebar */
.sidebar{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  
  justify-content: flex-start;
  background-color: black;
  height: 100%;
  width: 200px;
  padding: 2rem;
  padding-top: 1rem;
  
  bottom: 0;


  position: fixed;


}
.sidebar h1{
  color: azure;
  font-size: 1rem;
  margin-top: 1rem;
  

}
.sidebar p {
  margin-bottom: 2rem; 
  color: beige;
  padding: 1rem;
  border-radius: 20px;
  transition: all 0.3s ease;
  
}
.sidebar p:hover{
  background-color: #eee;
  color: black;
}
.sidebar h2 {
  color: rgb(239, 244, 252);
  margin-bottom: 2rem;
  font-size: 1rem;

  
}
.sidebar h3{
  color: bisque;
  margin-top: 1rem;
  
  
  margin-left: -1rem;
}
/*searchbar */
.searchbar{
  background-color: transparent;
  display: flex;
  margin-top: -0.5rem;
  width: 80%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.searchbar h1{
  font-size: 2rem;
  font-family: monospace;

}
.searchbtn{
  border-radius: 20px;
  height: 5vh;
  width: 20vw;
  padding-left: 2rem;
}
/* overview */
.overview{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-right: 2rem;
  margin-top: 1rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  
}
.overview h1{
  font-size: 1rem;
}
.overview h2 {
  font-size: 1rem;
  margin-right: 1rem;
}
.overviewcard{
  border: 2px solid none !important;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
background-color:  rgb(255, 239, 237);
  flex: 1  1  150PX;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}
.overviewcard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-color: black;
  cursor: pointer;
  background-color:  rgb(255, 194, 186);
}
/* PROJECT SUMMARY */
.table-summary{
  background-color: azure;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  border-radius: 20px;
  border: none;
  width: 70%;
  flex: 1 500px;
  margin-right: 2rem;
  
}
h2{
  text-align: start;
  margin-left: 2rem;
  color: red;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.table-container{
  overflow-x: auto;
  margin: 20px 0;
}
table{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 
}
th,td {
  padding: 3px 5px;
  font-size: 0.8rem;
  
}
.completed{
  color: green;
  font-weight: bold;
}
.ongoing{
  color: yellow;
  font-weight: bold;
}
.undone{
  color: red;
  font-weight: bold;
} 
/*project flex*/
.project-flex{
  display: flex;
  gap: 1rem;
  margin-top: -1rem;
  flex-wrap: wrap;
}

/* dashboard*/
.overview-card{
background-color:  rgb(255, 239, 237);
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  
  border-radius: 10px;
  padding: 2rem;
  text-align: center;
  width: 30%;

  margin-right: 2rem;
  
}
h3{
  font-size: 1rem;
  padding-bottom: 1rem;
  margin-top: -2rem;
  margin-bottom: -2rem;

}


.progress-container {
  position: relative;
  display: flex;
  aspect-ratio: 2/1;
  width: 100%;
  align-items: center;
  justify-content: center;

  margin: 10px auto;
}

.semi-circle {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 15px solid #ffffff;
  border-bottom: none;
  border-radius: 200px 200px 0 0;
  position: absolute;
  
}

.progress {
  width: 50%;
  height: 50%;
  border: 15px solid green;
  border-bottom: none;
  border-radius: 200px 200px 0 0;
  position: absolute;
  clip-path: inset(0 50% 0 0); 
  
}

.text {
  align-items: center;
  
  position: absolute;
  
  top: 80%;
  left: 40%;
  justify-content: center;
  margin-bottom: 2rem;
  
}

.text h2 {
  font-size: 1.5rem;




}



.legends {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  
  color: #4caf50;

}

.legends i {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  
}

.completed {
  background: #4caf50;
  color: green;
}

.ongoing {
  background: #8cc88f;
}

.pending {
  background: repeating-linear-gradient(
    45deg,
    #b6b6b6,
    #8d1818 3px,
    #ffe3e3 3px,
    #bd4545 6px
  );
}

/*task summary*/

.task-card {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 2rem;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.task-card h3 {
  margin-bottom: 0.5rem;
  margin-top: 0.4rem;

}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.task-row span {
  font-size: 14px;
}

.actions {
  display: flex;
  gap: 5px;
}

.btn {
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  font-size: 11px;
  cursor: pointer;
}

.view {
  background: #2196f3;
  color: white;
}

.edit {
  background: #4caf50;
  color: white;
}

.delete {
  background: #f44336;
  color: white;
}

.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.filter-btn {
  padding: 5px 12px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 20px;
  cursor: pointer;
  font-size: 12px;
}

.filter-btn.active {
  background: #4caf50;
  color: white;
  border: none;
}

/*login page*/
.login{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #2196f3;
  width: 40%;
  justify-content: center;
  margin-top: 5rem;
  margin-left: 14rem;
  border-radius: 20px;
  padding-bottom: 2rem;
    background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  /* shiny edge */
  border: 1px solid rgba(255, 255, 255, 0.175);


  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.179),
    0 0 10px rgba(255, 255, 255, 0);

  color: white;
}
h1{
  color: #4378f3;
}
.user-input{
  background-color: #fff;
  width: 60%;
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 10px;
  border: none;

}
.login-btn{
  background-color: rgb(11, 133, 255);
  color: black;
  padding: 0.4rem;
  border-radius: 10px;
}
.divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: linear-gradient(to right, transparent, #ccc, transparent);
}

.divider span {
  margin: 0 10px;
  color: #666;
}
.google-btn{
  background-color: transparent;
  display: flex;
  gap: 2rem;
  align-items: center;
  margin-left: 5rem;
  justify-content: center;
  border-radius: 10px;
  padding: 0.5rem;
  border-color: #666;
  width: 60%;
}
/* profile*/
/* Page *

/* Card */
.profile-card {
  width: 40%;
  margin-left: 14rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  
  background: #1A2517;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* Heading */
.toogle{
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
  margin-left: -1rem;
}
.profile-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #ACC8A2;
}

/* Profile Pic */
.profile-pic-section {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-pic-btn {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  color: #ACC8A2;
  background: none;
}

/* Fields */
.profile-field {
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile-field label {
  
  margin-bottom: 5px;
  color: #ACC8A2;
  font-size: 0.9rem;
  align-items: left;
  
}

.field-row {
  display: flex;
  gap: 10px;
  align-items: center;
}

.field-row input {
  flex: 1;
  padding: 10px;
  width: 20vw;
  border-radius: 8px;
  border: 1px solid #ccc;
}

/* Buttons */
.field-row button {
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background: none;
  color: #ACC8A2;
}

/* Responsive */
@media (max-width: 500px) {
  .field-row {
    flex-direction: column;
    gap: 5px;
  }

  .field-row button {
    width: 100%;
  }
}











/* responsive */

@media (max-width:768px) {
  .sidebar{
    display: none;
  }
  .main{
    margin-left: 3rem;
  }
  .overview h2{
    color: #2196f3;
    
  }
  .searchbar{
    gap: 3rem;
  
  }
  .searchbar h1{
    font-size: 1rem;
  }
  .searchbtn{
    width: 70%;
  }
  .table-summary{
    width: 100%;
    margin-left: -1rem;
  }
  .overview-card{
    width: 70%;
    margin-left: 2rem;
  }
  .task-card{
    width: 100%;
    margin-left: -1rem;
  }
  .text{
    margin-left: -1.5rem;
  }
  .profile-card{
    margin-bottom: 2rem;
  }
  
}



/*tablet*/
@media (max-width:839px) {
  .sidebar{

  }
  
}