

/* Light Theme */
[data-theme="light"] {
  --bg-color: #ffffff;
  --text-color: white;
  --search-text: green;
  --card-bg: linear-gradient(to bottom ,rgb(2, 21, 2),rgb(1, 71, 1));
  --button-bg: #10B981;
  --button-text: #ffffff;
  --summary-bg:  #e7e4e4;
  --secondary-text: black;
  --taskinput-bg: white;
  --pages-bg:   #082300;
}

/* Dark Theme */
[data-theme="dark"] {
  --bg-color: rgb(31, 31, 51);
  --text-color: white;
  --search-text: white;
  --card-bg: rgb(34, 34, 68);
  --button-bg: rgb(47, 47, 94);
  --button-text: #111827;
  --summary-bg: rgb(34, 34, 68);
  --secondary-text: white;
  --taskinput-bg: rgb(116, 115, 115);
  --pages-bg: rgb(34, 34, 68);
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  background-color: var(--bg-color);
  margin: 0;
  padding: 0;
  
  width: 100%; 
}
.main{
  margin-left: 14.8rem;
  min-height: 100vh;
}

/* sidebar */
.sidebar{
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  
  justify-content: flex-start;
  background-color: var(--pages-bg);
  height: 100%;
  width: 240px;
  padding: 2rem;
  padding-top: 1rem;
  
  bottom: 0;


  position: fixed;


}
.sidebar h1{
  color: #ACC8A2;
  font-size: 1rem;

  

}
.sidebar-menu{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  padding: 3rem,1rem;
  
  
}


.sidebar p {
  display: flex;
  gap: 1rem;
}
.sidebar p:hover{
  background-color: #ACC8A2;
  color: black;
  padding: 0.7rem;
  border-radius: 15px;
}
.sidebar h2 {
  color: var(--text-color);
  margin-bottom: 1rem;
  font-size: 1rem;

  
}
.sidebar h3{
  color: #ACC8A2;
  margin-top: 1rem;
  
  
  margin-left: -1rem;
}
/*searchbar */
.searchbar{
  background-color: transparent;
  display: flex;
  margin-top: -1rem;
  width: 100%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 120px;
  margin-left: 1rem;
}
.searchbar h1{
  font-size: 1rem;
  font-family: monospace;
  overflow: visible;
  white-space: nowrap;
  color: var(--search-text);
  margin-right: 20px;
  margin-top: 3rem;

}
.searchbtn{
  border-radius: 20px;
  height: 5vh;
  padding-right: 3rem;
  width: 27vw;
  margin-left: -2.3rem;
  background-color: var(--summary-bg);
  padding-left: 18px;
  border: none;
  color: var(--search-text);
}
.search-icons{
  background-color: transparent;
  display: flex;
  gap: 1rem;
  align-items: center;
  border-bottom: 2px solid var(--search-text);
  font-size: 1rem;
  color: var(--search-text);
  margin-left: 3px;

}
/* overview */
.overview{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-right: 2rem;
  margin-top: -1.5rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  align-items: center;
  
}
.overview h1{
  font-size: 1rem;
  color: var(--text-color);
  margin-top: 1rem;


}
.overview h2 {
  font-size: 1rem;
  color: var(--text-color);
 margin-top: -1rem;
 margin-right: 1.5rem;
}
.overviewcard{
  border: 2px solid none !important;
  border-radius: 20px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
background:var(--card-bg);
  flex: 1  1  150PX;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}
.overviewcard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-color: black;
  cursor: pointer;
}
/* PROJECT SUMMARY */
.table-summary{
  background-color: var(--summary-bg);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  border-radius: 20px;
  border: none;
  padding-top: 1rem;
  overflow-x: auto;
  width: 70%;
  margin-top: 1rem;
  flex: 1 500px;

  
}
h2{
  text-align: start;
  margin-left: 2rem;
  color: green;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}
.table-container{
  overflow-x: auto;
  margin: 20px 0;
}
table{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
th,td {
  padding: 3px 5px;
  font-size: 0.8rem;
}
/* Only the table body cells for Project Name and Manager */
.table-summary tbody td.project-name,
.table-summary tbody td.project-manager {
  width: 50px !important;       /* adjust as needed */
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
}
.selection{
  color: black;
  font-weight: bold;
  background-color: var(--summary-bg);
}

/*project flex*/
.project-flex{
  display: flex;
  gap: 1rem;
  margin-top: -3rem;
  flex-wrap: wrap;
  margin: auto;
  justify-content: center;
}

/* dashboard*/
.doughnut-chart{
background-color:  var(--summary-bg);
box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;

  
  border-radius: 10px;

  
}
h3{
  font-size: 1rem;
  padding-bottom: 1rem;
  margin-top: -2rem;
  margin-bottom: -2rem;

}




/* create project*/
.create-project-form {
  background-color:var(--pages-bg);
  width: 40%;
  margin-left: 290px;
  margin-top: 30px;
  margin-bottom: 100px;
  border-radius: 20px;
  padding: 2rem;
  
}
.create-project-form h2 {
  color: var(--text-color);
  margin-bottom: 2rem;
  text-align: center;
  margin-right: 1rem;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-bottom: 1rem;
  color: white;
}
.project-input {
  padding: 0.9rem;
  border-radius: 10px;
  border: none;

  
}
.project-input:focus {
  outline: none;
  box-shadow: 0 0 5px #4caf50;

}
.create-btn {
  background-color: var(--button-bg);
  color: var(--text-color);
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
/*task summary*/

.task-card {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: var(--summary-bg);
  padding: 20px;

  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.task-card h3 {
  margin-bottom: 0.5rem;
  margin-top: 0.4rem;
  color: green;

}

.task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--taskinput-bg);
  gap: 1rem;
  border-radius: 10px;
  margin: 1rem;
  font-size: 0.5rem;
  overflow-x: auto;
  touch-action: none;
  
}

.task-row span {
  font-size: 0.7rem;
  color: var(--secondary-text);
  max-width: 100%;
  display: flex;
  align-items: first baseline;

  
}

.task-row span input[type="checkbox"] {
  margin-right: 0.5rem;  /* space between checkbox and text */
  flex-shrink: 0;        
}

.actions {
  display: flex;
  gap: 5px;
}

.btn {
  padding: 4px 8px;
  border: none;
  border-radius: 5px;
  font-size: 0.5rem;
  cursor: pointer;
}


.edit {
  background: #4caf50;
  color: var(--text-color);

}

.delete {
  background: #f44336;
  color: var(--text-color);
}

.filters {
  display: flex;
  gap: 10px;
  padding: 1rem;
}

.filter-btn {
  padding: 0.5rem 0.5rem;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ddd;
  background: #ffffff00;
  border-radius: 20px;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
  font-size: o.5rem;
  justify-content: center;
  color: var(--secondary-text);
}

.filter-btn.active {
  background: #4caf50;
  color: var(--text-color);
  border: none;
}
.task-input{
  display: flex;
  margin-left: 2rem;
  gap: 0.5rem;



}
.task-input-item{
   border: 1px solid #000000;
  border-radius: 20px;
  cursor: pointer;
  width: 11rem;
  font-size: 0.7rem;
  justify-content: center;
  color: black;
  padding: 0.5rem 0.5rem;
  background-color: white;
  


}
.task-input-add{
  border: none;
  background: none !important;
  cursor: pointer;
  font-size: 1rem;
  color: red;
  outline: none;

  
  

}



/*mobile-sidedbar*/
/* Hamburger button */
.hamburger-btn {
  display: none; /* hidden on desktop */
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  margin: 1rem;
  z-index: 1002;
}

.hamburger-btn .line {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 2px;
}

/* Mobile sidebar */
.mobile-sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%;
  height: 100%;
  background-color: var(--summary-bg);
  padding: 2rem 1rem;
  transition: 0.3s ease;
  z-index: 1000;
}

.mobile-sidebar.open {
  left: 0;
}

/* Close button */
.close-btn {
  text-align: right;
  margin-bottom: 2rem;
  cursor: pointer;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}





/*login page*/
.login{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background:linear-gradient(to bottom, rgb(1, 59, 1),#092100);
  width: 40%;
  justify-content: center;
  margin-top: 3rem;
  margin: auto !important;
  margin-bottom: 3rem;
  border-radius: 20px;
  padding-bottom: 2rem;
    
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);

  /* shiny edge */
  border: 1px solid rgba(66, 157, 13, 0.596);


  box-shadow: 
    0 8px 32px rgba(0, 0, 0, 0.179),
    0 0 10px rgba(255, 255, 255, 0);

  color: rgb(255, 0, 0);
}
h1{
  color: var(--text-color);
  margin-bottom: 3rem;
}
h3{
  color: #8cc88f;
}
.user-input{
  background-color: #000000;
  width: 80%;
  font-size: 1rem;
  padding: 0.3rem;
  border-radius: 10px;
  border: none;
  margin-top: 1rem;
  color: white;
  outline: none;

}

.login-btn{
  background-color: #36512b;
  color: black;
  padding: 0.4rem;
  border: none;
  outline: none;
  border-radius: 10px;
}
.divider {
  display: flex;
  align-items: center;
  text-align: center;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background: linear-gradient(to right, transparent, #bbcdb6, transparent);
  margin-bottom: 1rem;
}

.divider span {
  margin: 0 10px;
  color: #1A2517;
}
.google-btn{
  background-color: transparent;
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-left: 5rem;
  justify-content: center;
  border-radius: 10px;
  padding: 0.5rem;
  border-color: #666;
  width: 60%;
  margin-bottom: 1rem;
}
/* spinner*/
.spinner-position {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center !important;
  align-items: center;
  border-radius: 20px; /* match your login card */
  z-index: 1000;
}
.spinner{
  margin-right: 60rem;

}
.spinner-icon{
  width: 50px;
  height: 20px;
}
.login-logo{
  
  margin-bottom: 2rem;
}
/* profile*/
/* Page *

/* Card */
.profile-card {
  width: 40%;
  margin-left: 290px;
  margin-top: 50px;
  margin-bottom: 3rem;
  
  background: var(--pages-bg);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

/* Heading */
.toogle{
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 10px;
  margin-left: -1rem;
  color: green;
}
.profile-card h2 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--text-color);
  margin-right: 4rem;
}

/* Profile Pic */
.profile-pic-section {
  text-align: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.edit-pic-btn {
  margin-top: 10px;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  color: #ACC8A2;
  background: none;
}

/* Fields */
.profile-field {
  
  display: flex;
  flex-direction: column;

}

.profile-field label {
  
  margin-bottom: 5px;
  color: var(--text-color);
  font-size: 0.9rem;
  align-items: left;
  
}

.field-row {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
  flex-wrap: nowrap;
}

.field-row input {
  flex: 1; 
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--text-color);
}

.field-row select {
  width: 40px;
}

.field-row button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  outline: none;
  border: none;
  color: green;
}




/*lout out modal*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.modal-box {
  background: var(--bg-color);
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.btn.cancel {
  background: gray;
  color: white;
}

.btn.confirm {
  background: red;
  color: white;
}




/* Responsive */












/* responsive */

@media (max-width:767px) {
    .sidebar { display: none; } /* hide desktop sidebar on mobile */
  
.hamburger-btn {
  position: fixed;
  top: 20px;
  left: 5px;
  z-index: 1999; /* must be above everything */

  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}  
.mobile-sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100vh;
  background-color: var(--pages-bg);
  padding: 2rem 1rem;
  transition: 0.3s ease;
  z-index: 2000;
  overflow-y: auto;
}

.mobile-sidebar.open {
  left: 0;
}
.mobile-search{
  width: 80%;
  padding: 0.2rem;
  font-size: 16px;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: none;
  outline: none;
}
.mobile-sidebar-menu{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;
  margin-top: -2rem;
  margin-bottom: 7rem;
    

}
.mobile-sidebar p {
  display: flex;
  gap: 0.5rem;
  font-size: 1rem;
  color: white;
}
.mobile-sidebar p:hover{
  background-color: #ACC8A2;
  color: black;
  padding: 0.6rem;
  border-radius: 15px;
}
.mobile-sidebar h2 {
  color: var(--text-color);
  margin-bottom: 1rem;
  font-size: 2rem;

  
}
.mobile-sidebar h3{
  color: #ACC8A2;
  margin-top: 1rem;

  
  
  margin-left: -1rem;
}
.h{
  color: black !important;
}
  
  .main{
    margin-left: 3rem;
    margin-top: 5rem;
  
  
    
  }
  .overview{
    margin-left: -2rem;
  }
  .overview h2{
    margin-top: -1rem;
  }
  .searchbar{   
    width: 90vw;
  
    margin-left: -2rem;
    
     
  
  }
  .searchbar h1{
    font-size: 1rem !important;
    margin-top: 3rem;
    margin-left: 2rem;

  
  }
  .search-icons{
    margin-left: 30px;
  }
  .searchbtn{
    margin-right: -100px;
    display: none;

    
  }
  .table-summary{

    padding: 1rem;
    margin-left: -1rem;
    margin-right: 1rem;
    width: 89vw;
    gap: 0.5rem;
    padding-right: 2rem !important;

  
  }
  



  
  
  
  
  .task-card{
    width: 97%;
    margin-left: -1rem;
    
  }
  .text{
    margin-left: -1.5rem;
    font-size: 16px;
  }
  .filters {
  display: flex;
  gap: 0.5rem;
  margin-left: -1.6rem;
  padding-right: 2rem;
}

.filter-btn {
  padding: 0.5rem 0.5rem;
  display: flex;
  border: 1px solid #ddd;
  background: #ffffff00;
  border-radius: 20px;
  height: 2rem;

  cursor: pointer;
  font-size: 0.7rem;
  
  color: var(--secondary-text);
}


.task-input{
  display: flex;
  flex-direction: row !important;
  width: 100%;
  margin-left: 1rem;
  




}
.task-input-item{
   border: 1px solid #000000;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  justify-content: center;
  color: black;
  padding: 0.5rem 0.5rem;
  background-color: white;
  width: 6rem !important;
  


}
.task-input-add{
  border: none;
  background: none !important;
  cursor: pointer;
  color: red;
  outline: none;

  
  

}
  .task-row span {
    white-space: normal;
    word-break: break-word;
    font-size: 16px;
    width: 100%;
  }

  
  .profile-card{
    margin-bottom: 2rem;
    width: 90vw !important;
    margin-left: 6vw !important;
    margin-top: 5rem;
  }
  .create-project-form{
    width: 80vw !important;
    margin: auto;
    margin-top: 5rem !important;
    margin-bottom: 19rem;
    margin-left: 2rem !important;
  }
  .field-row {
    width: 70vw;
    display: flex;
    height: 10vh;
    
  }
  .number{
    display: flex;
  }
  .email{
    display: flex;
    flex-direction: row;
  }
  
    
  }
  .login{
    width: 300px;
    margin-top: 70px !important;
    padding: 0 1rem;
    margin-left: 2rem;
    gap: 1rem;
  }
  
h1{
  color: var(--text-color);
  margin-bottom: 2rem;
  margin-top: -5rem;
  font-size: 1.5rem;
}
h3{
  color: #8cc88f;
}





  
.spinner-position {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  display: flex;
  justify-content: center !important;
  align-items: center;
  border-radius: 20px; /* match your login card */
  z-index: 1000;
}
.spinner{
  margin-left: 25rem;
}
.spinner-icon{
  width: 20px;
}

  .google-btn{
    width: 70%;
    margin-left: -0.5rem !important;
    margin-top: -2rem;
    margin-bottom: -0.5rem;
  
  }


/*lout out modal*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: var(--bg-color);
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}


  




/*tablet*/
@media (max-width:1024px) {
  .login{
  
    margin: auto;
    margin-top: 2rem;
    padding: 0 1rem;
  }
  .profile-card{
    margin-left: 16rem;
  }
  .sidebar{
    width: 200px;
    
  }
  .table-summary{
    margin-left: -1rem;
    margin-right: 1rem;
  
  }
  .overview-card{
    width: 60%;
    margin-left: 6rem;
  }
  .task-card{
    width: 95%;
    margin-left: -1rem;
  }
  .task-input-item{
    width: 12rem;
  }
  
  .overview h2{
    margin-top: 1rem;
  }
  .overview h1{
    margin-top: 3rem;
  }
  .profile-card{
    width: 60%;
  }
  .field-row input{
    width: 35vw;
  }
  .create-project-form{
    width: 50%;
    margin-left: 240px;
    margin-top: 50px;
  
  }
  .searchbar{
    margin-top:-0.9rem;
    
    gap: 5rem;
  }
  .searchbtn{
    height: 2rem
  

    
  }
  .search-icons{
    margin-right: 40px;
  }
  .searchbar h1{

  
    margin-top: 3rem;
  }
   .google-btn{
    width: 70%;
    margin-left: 2.2rem;


  }
  .user-input{
    width: 75%;
  }
  /*lout out modal*/
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-box {
  background: var(--bg-color);
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.modal-actions {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}


  
  
}
  
