*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body{
  background-color: rgb(254, 185, 178);
}
.main{
  margin-left: 15rem;
}

/* sidebar */
.sidebar{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: black;
  height: 100vh;
  width: 17%;
  padding-left: 2rem;
  padding-top: 1rem;
  top: 0;
  position: fixed;


}
.sidebar h1{
  color: azure;
  font-size: 1rem;
  margin-bottom: 6rem;

}
.sidebar p {
  margin-bottom: 3rem; 
  gap: 2rem;
  color: beige;
}
.sidebar p :hover{
  color: azure;
}
.sidebar h2 {
  color: rgb(239, 244, 252);
  margin-bottom: 4rem;
  font-size: 1rem;
  margin-right: 2rem;
  
}
.sidebar h3{
  color: bisque;
  margin-top: 8em;
  margin-left: -1rem;
}
/*searchbar */
.searchbar{
  background-color: transparent;
  display: flex;
  margin-top: -0.5rem;
  width: 80%;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.searchbar h1{
  font-size: 2rem;

}
.searchbtn{
  border-radius: 20px;
  height: 5vh;
  width: 20vw;
  padding-left: 2rem;
}
/* overview */
.overview{
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-right: 2rem;
  margin-top: 3rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  
}
.overview h1{
  font-size: 1rem;
}
.overview h2 {
  font-size: 1rem;
}
.overviewcard{
  border: 2px solid none !important;
  border-radius: 20px;
  padding: 20px;
background-color:  rgb(255, 214, 209);
  flex: 1  1  150PX;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}
.overviewcard:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-color: black;
  cursor: pointer;
}
/* PROJECT SUMMARY */
.table-summary{
  background-color: azure;
  border-radius: 20px;
  border: none;
  width: 70%;
  height: 30vh;
}
h2{
  text-align: start;
  margin-left: 2rem;
  
}
.table-container{
  overflow-x: auto;
  margin: 20px 0;
}
table{
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 
}
th,td {
  padding: 3px 5px;
  font-size: 0.8rem;
  
}
.completed{
  color: green;
  font-weight: bold;
}
.ongoing{
  color: yellow;
  font-weight: bold;
}
.undone{
  color: red;
  font-weight: bold;
}